# Database (MySQL)
DATABASE_URL="mysql://kasirpro:password@192.168.18.250:3306/kasirpro"

# Auth
JWT_SECRET="change-me-to-a-long-random-secret"

# App
NEXT_PUBLIC_APP_URL="https://kasirpro.refaadstack.com"

# Payment service (refaadstack payment-service)
PAYMENT_SERVICE_URL="https://pay.refaadstack.com"
PAYMENT_PRODUCT_KEY=""
PAYMENT_CALLBACK_SECRET=""

# CloudMail (email verifikasi, pola akadnya.com)
CLOUDMAIL_ENABLED="true"
CLOUDMAIL_BASE_URL="https://mail.akadnya.com/api"
CLOUDMAIL_EMAIL=""
CLOUDMAIL_PASSWORD=""
CLOUDMAIL_SENDER_REGISTRATION="no-reply@kasirpro.refaadstack.com"
