# Supabase Database (Settings > Database > Connection String > NodeJS)
DATABASE_URL="postgresql://postgres.[YOUR-PASS]@db.btatebpdcjaqmzmmdbxr.supabase.co:5432/postgres"
DIRECT_URL="postgresql://postgres:[YOUR-PASS]@db.btatebpdcjaqmzmmdbxr.supabase.co:5432/postgres"

# Supabase API (Settings > API)
NEXT_PUBLIC_SUPABASE_URL="https://PROJECT_REF.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="your-anon-key"

# Auth
NEXTAUTH_SECRET="kasirpro-secret"
NEXTAUTH_URL="http://localhost:3000"

